body {
  font-family: 'Crimson Text', serif;
}

#start-logo {
  position: absolute;
  left: calc(50% - 7em);
  z-index: 1;
}

header {
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 0.5em;
  width: calc(100vw - 10em);
  color: #fff;
  background-color: #4d7358;
  border-radius: 0 0 1em 1em;
  z-index: 2;
}

header .logo {
  flex-grow: 1;
}
header .logo img {
  width: 1.8em;
}
header nav {
  display: flex;
}

.nav-title {
  font-size: 1.3em;
  font-weight: 800;
  color: #fff;
  flex-grow: 0.73;
}

.nav-option {
  height: 1.5em;
  margin: 0 1em 0.3em 0;
}

.nav-option a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  transition: all 0.15s ease-in;
}
.nav-option a:hover {
  border-radius: 5px;
  background-color: #9ed670;
}

.footer {
  display: flex;
  position: fixed;
  width: 100vw;
  color: #fff;
  background-color: #4d7358;
}
